.mainpage-user-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 1px 4px rgb(0 0 0 / 0.03), -1px 0 4px rgb(0 0 0 / 0.03),
    1px 0 4px rgb(0 0 0 / 0.03), 0 -1px 4px rgb(0 0 0 / 0.03);
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  img {
    max-width: 60px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
  }
  div {
    display: flex;
    flex-direction: column;
    b {
      font-size: 1.1rem;
    }
    span {
      font-size: 0.85rem;
      color: gray;
    }
  }
}
