@import "../../../variables.scss";

.bbt-academy {
  .lessons {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: $screen-lg) {
  .bbt-academy {
    .lessons {
      margin-top: 1rem;
      gap: 1rem;
    }
  }
}
