@import "../../variables.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  text-wrap: nowrap;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05), 0 2px 4px -2px rgb(0 0 0 / 0.05);
  background-color: var(--primaryBackground);
  z-index: 9999;
  position: relative;
  .mobile-menu {
    flex: 1;
    img {
      max-width: 40px;
    }
    button {
      display: none;
      cursor: pointer;
    }
  }
  .links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .link-item {
      height: 100%;
      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        height: 100%;
        min-height: 60px;
        padding: 0.5rem 1rem;
        position: relative;
        transition: color 0.3s;
        color: var(--primaryText);
        &:hover {
          color: var(--primary);
        }

        &:not(.active):after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          border-radius: 2px;
          background-color: var(--primary);
          transition: width 0.3s ease, left 0.3s ease;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
      .link.active {
        color: var(--primary);
        &::after {
          content: "";
          position: absolute;
          left: 0%;
          bottom: 0;
          width: 100%;
          height: 2px;
          border-radius: 2px;
          background-color: var(--primary);
          transition: width 0.3s ease, left 0.3s ease;
        }
      }
    }
  }
  .auth.not-logged-in {
    flex: 1;
    .user-panel {
      display: none;
    }
    .login-register {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .login {
        display: inline-block;
        padding: 0 1rem;
        color: var(--primary);
        transition: color 0.3s;
        &:hover {
          color: var(--black);
        }
      }
      .register {
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        background-color: var(--primary);
        color: var(--onPrimary);
        transition: background-color 0.3s;
        &:hover {
          background-color: var(--black);
        }
      }
    }
  }
  .auth.logged-in {
    flex: 1;
    .user-panel {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
      text-align: right;
      .user-informations {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        p {
          font-size: 1rem;
          line-height: 1rem;
          font-weight: bold;
        }
        span {
          font-size: 0.875rem;
          line-height: 0.875rem;
        }
      }
    }
    .login-register {
      display: none;
    }
  }
}

@media screen and (max-width: $screen_lg) {
  nav {
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: max-height 0.3s;
    overflow: hidden;
    .mobile-menu {
      flex: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-height: calc(40px + 1rem);
      padding: 0.5rem 1rem;
      border-bottom: 1px solid rgb(231, 231, 231);
      img {
        max-width: 40px;
      }
      button {
        width: 40px;
        height: 40px;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .links {
      flex: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
      height: auto;
      .link-item {
        height: auto;
        .link {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 0;
          min-height: 50px;
          padding: 0.5rem;
          &:hover {
            color: var(--primary);
          }

          &:not(.active):after {
            display: none;
          }
        }
        .link.active {
          &::after {
            display: none;
          }
        }
      }
    }
    .auth.not-logged-in {
      flex: 0;
      .user-panel {
        display: none;
      }
      .login-register {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
        margin-top: auto;
        gap: 1rem;
        padding: 0.5rem;

        .login {
          display: inline-block;
          padding: 0.5rem 1rem;
          color: var(--secondary);
          transition: color 0.3s;
          &:hover {
            color: black;
          }
        }
        .register {
          padding: 1rem;
        }
        div,
        div * {
          display: inline-block;
          width: 100%;
        }
      }
    }
    .auth.logged-in {
      flex: 1;
      .user-panel {
        padding: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        text-align: left;
        .user-informations {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
          order: 2;
          p {
            font-size: 1rem;
            line-height: 1rem;
            font-weight: bold;
          }
          span {
            font-size: 0.875rem;
            line-height: 0.875rem;
          }
        }
      }
      .login-register {
        display: none;
      }
    }
  }
  nav.open {
    max-height: 100vh;
  }
  nav.close {
    max-height: calc(40px + 1rem);
  }
}
