.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px - 5rem);
  padding: 0.5rem;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 450px;
    img {
      max-width: 100px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 450px;
    .login-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }
  }
  .or {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 450px;
  }
}
