.custom-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.slider-container {
  max-width: 98vw;
}

.rightArrow {
  right: 10px !important;
  z-index: 5 !important;
  border-radius: 999px;
  backdrop-filter: blur(5px);
  &::before {
    color: black !important;
  }
}
.leftArrow {
  left: 10px !important;
  z-index: 5 !important;
  &::before {
    color: black !important;
  }
}

@media (min-width: 640px) {
  .custom-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .custom-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .custom-container {
    max-width: 1280px;
  }
}
