@import "../../variables.scss";

.Master {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media screen and (max-width: $screen-lg) {
  .Master {
    grid-template-rows: 1fr auto;
  }
}
